@import "../../node_modules/font-face-generator/mixin";
@include font-face(
  $fonts: (
    "Grold": (
      300: "grold-light",
      400: "grold-regular",
      500: "grold-medium",
      700: "grold-bold",
    ),
  ),
  $types: "woff2" "woff" "ttf"
) {
  font-display: swap;
} ;
