/* PAGINATION */
.pagination {
  position: relative;
  display: flex;
  white-space: nowrap;
  width: min-content;
  left: 50%;
  transform: translateX(-50%);
  height: 56px;
  background: var(--color-light-grey);
  border-radius: 10px;
}
.pagination ul {
  width: min-content;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 30px;
  border-left: solid var(--border-color) 1px;
  border-right: solid var(--border-color) 1px;
  margin: 0;
}
.pagination ul li {
  margin: 0 10px;
  padding: 0;
}
.pagination ul li::before {
  content: none;
}
.pagination__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  width: 65px;
}
.pagination__btn path {
  transition: 0.3s;
}

@media (min-width: 1200px) {
  .pagination__btn:hover path {
    stroke: var(--color-green);
  }
}
@media (max-width: 767px) {
  .pagination ul {
    padding: 0 15px;
  }
  .pagination__btn {
    width: 50px;
  }
  .pagination__btn svg {
    width: 20px;
  }
}
/* END PAGINATION */

/* VIDEO ON HOVER */
.video-on-hover {
  position: relative;
}
.video-on-hover .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}

.video-on-hover video {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 0;
  top: 0;
}
@media (min-width: 1200px) {
  .video-on-hover:hover .overlay {
    opacity: 1;
    visibility: visible;
  }
  .video-on-hover:hover video {
    display: block;
  }
}

/* END VIDEO ON HOVER */

/* FOOTER */
footer {
  padding-top: 50px;
  background: var(--color-light-grey);
}
.footer__main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer__left {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: flex-start;
  gap: 30px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: var(--color-grey);
}
.footer__left a:hover {
  color: var(--color-green);
}
.footer__nav1 {
  display: grid;
  gap: 20px;
  font-weight: 400;
  color: var(--color-dark-grey);
}
.footer__nav2 {
  display: grid;
  gap: 5px;
}
.footer__nav2 > :first-child {
  font-weight: 400;
  color: var(--color-dark-grey);
}
.footer__right {
  padding-left: 125px;
  margin-left: 125px;
  border-left: 1px solid var(--border-color);
  align-self: flex-start;
  display: grid;
  gap: 30px;
}
.footer__social-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--color-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 17px;
}
.footer__social-icon path {
  transition: 0.3s;
}
.footer__social-icon:hover path {
  fill: var(--color-green);
}
.footer-bottom {
  height: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-top: solid 1px var(--border-color);
  margin-top: 50px;
}
.footer-bottom * {
  font-size: 16px;
  font-weight: 300;
}
.footer-bottom__left {
  display: flex;
  justify-content: space-between;
}
.footer-bottom__right {
  text-align: right;
}
.footer-bottom__right img {
  width: 90px;
  margin-left: 5px;
}
@media (max-width: 1450px) {
  .footer__right {
    margin-left: 100px;
    padding-left: 100px;
  }
}
@media (max-width: 1199px) {
  .footer__right {
    margin-left: 50px;
    padding-left: 50px;
  }

  .footer__left {
    grid-template-columns: 1fr 2fr 2fr;
  }
  .footer-bottom {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 991px) {
  .footer__main-grid {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .footer__right {
    padding: 0;
    max-width: 400px;
    margin: 0;
    grid-row: 1;
    border: none;
  }
  .footer-bottom {
    grid-template-columns: 1fr;
    height: auto;
    padding: 20px 0;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .footer__left {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .footer__right {
    gap: 15px;
  }
  .footer__nav1 {
    gap: 5px;
  }
  .footer__nav2:nth-child(3) {
    grid-row: 1;
    grid-column: 2;
  }
  .footer__nav2:nth-child(2) {
    grid-column: -1 / 1;
  }
  .footer-bottom__left {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .footer-bottom {
    padding: 15px 0;
    gap: 10px;
  }
  .footer-bottom__right {
    text-align: left;
  }
}
/* END FOOTER */

/* POPUPS */
.popup-wrapper {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  left: -100%;
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
}
.popup-wrapper.active {
  left: 0;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
.popup-wrapper .bg-layer {
  position: absolute;
  left: 0;
  top: -100px;
  right: 0;
  bottom: -100px;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  opacity: 0;
}
.popup-wrapper.active .bg-layer {
  opacity: 1;
}
.popup-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 0;
  text-align: center;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  opacity: 0;
  visibility: hidden;
  padding: 30px 30px 15px 15px;
  letter-spacing: 0;
}
.popup-content.active {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.popup-content:after {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  content: "";
}
.popup-content .layer-close {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 10000px;
}
.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  transform: translate(50%, -50%);
  border-radius: 50%;
  background: var(--color-dark-grey);
}
.btn-close span {
  height: 14px;
  width: 14px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn-close span:before,
.btn-close span:after {
  content: "";
  height: 1px;
  width: 18px;
  display: block;
  position: absolute;
  top: 6px;
  left: -2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: var(--color-white);
}
.btn-close span:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.popup-container {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  position: relative;
  background: #fff;
  max-width: 750px;
  z-index: 1;
  border-radius: 10px;
}
.popup-container.size-2 {
  max-width: 1000px;
}
.popup-align {
  overflow: hidden;
  position: relative;
  padding: 50px 90px 40px;
}
.content-block {
  text-align: left;
}
.popup-align img {
  border-radius: 5px;
}
.popup-video {
  padding-bottom: 57.5%;
  width: 100%;
}
.popup-video iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/*media*/
@media (min-width: 1200px) {
  .btn-close:hover span:before,
  .btn-close:hover span:after {
    background: var(--color-green);
  }
}
@media (max-width: 767px) {
  .popup-align {
    padding: 35px 15px 20px;
  }
  .btn-close {
    width: 40px;
    height: 40px;
  }
}
.video-popUp {
  padding-bottom: 56.25%;
  position: relative;
}
.video-popUp iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.form-success-popup {
  text-align: center;
}
.form-success-popup img {
  width: 80px;
}
.form-success-popup h5 {
  margin: 20px 0 10px;
}
@media (max-width: 767px) {
  .form-success-popup img {
    width: 50px;
  }
}
.send-request__popup {
  text-align: center;
}
.send-request__popup h5 {
  margin: 20px 0 40px;
}
.send-request-form > :last-child {
  text-align: right;
}
/* END POPUPS */

/* COOKIE INFORM */
.cookie-inform {
  position: fixed;
  left: 30px;
  bottom: -30px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  background: #f9f9f9;
  border-radius: 30px;
  padding: 20px 80px 20px 40px;
  max-width: 635px;
  width: calc(100% - 60px);
  z-index: 20;
}
.cookie-inform * {
  font-size: 16px;
}
.cookie-inform.active {
  opacity: 1;
  visibility: visible;
  bottom: 30px;
}
.cookie-inform__btns {
  display: grid;
  gap: 15px;
  margin-top: 10px;
  grid-template-columns: min-content min-content;
  font-weight: 300;
  white-space: nowrap;
}
.cookie-inform .btn-close {
  background: transparent;
  transform: none;
}
.cookie-inform .btn-close span:before,
.cookie-inform .btn-close span:after {
  background: var(--color-dark-grey);
}
.cookie-inform .btn-close:hover span:before,
.cookie-inform .btn-close:hover span:after {
  background: var(--color-green);
}
.cookie-inform__btns > div {
  cursor: pointer;
  transition: 0.3s;
  color: var(--color-dark-grey);
}
.cookie-inform__btns > div:hover {
  color: var(--color-green);
}
@media (max-width: 767px) {
  .cookie-inform {
    position: fixed;
    left: var(--bs-gutter-x, 0.75rem);
    width: calc(100% - calc(var(--bs-gutter-x, 0.75rem) * 2));
    border-radius: 20px;
    padding: 20px 50px 20px 20px;
  }
  .cookie-inform.active {
    bottom: 15px;
  }
}
/* END COOKIE INFORM */

/* MAIN ABOUT */
.main-about__grid {
  display: grid;
  grid-template-columns: 5fr 4fr;
  gap: 140px;
  align-items: center;
}
.main-about__right {
  align-self: flex-start;
  height: 100%;
  margin-top: -50px;
}
@media (max-width: 1199px) {
  .main-about__grid {
    gap: 50px;
  }
}
@media (max-width: 991px) {
  .main-about__right {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .main-about__grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .main-about__grid > :last-child {
    grid-row: 1;
  }
  .main-about__right {
    padding-bottom: 60%;
  }
}
/* END MAIN ABOUT */

/* SERVICES */
.services__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
.services__cell {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
}
.services__image-holder {
  display: inline-block;
  max-width: 388px;
}
.servises__btn {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: var(--color-dark-grey);
  transition: 0.3s;
  white-space: nowrap;
  width: min-content;
}

.servises__btn svg {
  margin-left: 10px;
  width: 1.2em;
  margin-bottom: 0;
  transition: 0.3s;
}

.servises__btn svg path {
  transition: 0.3s;
}

.services__cell h5 {
  transition: 0.3s;
  margin: 30px 0 20px;
}

@media (min-width: 1200px) {
  .servises__btn:hover {
    color: var(--color-green);
  }
  .servises__btn:hover svg {
    margin-left: 35px;
  }
  .servises__btn:hover svg path {
    stroke: var(--color-green);
  }
  .services__cell h5:hover {
    color: var(--color-green);
  }
}
@media (max-width: 991px) {
  .services__grid {
    gap: 50px;
  }
  .services__cell h5 {
    margin: 20px 0 10px;
  }
}
@media (max-width: 767px) {
  .services__grid {
    gap: 30px 15px;
  }
  .services__cell h5 {
    margin: 10px 0 5px;
  }
  .services__image-holder {
    width: 66%;
  }
}
/* END SERVICES */

/* AREAS */
.areas__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.areas__cell {
  display: grid;
  grid-template-columns: 280px auto;
  gap: 50px;
  align-items: center;
}
.areas__cell-content {
  transition: 0.3s;
  opacity: 0.15;
}
.areas__cell-content svg {
  width: 45px;
}
.areas__cell-content svg path {
  transition: 0.3s;
}
.areas__cell-content h4 {
  transition: 0.3s;
  margin-bottom: 15px;
}

.areas__image-holder img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  max-height: unset;
}
.areas__image-holder {
  position: relative;
  overflow: hidden;
  padding-bottom: 51.5%;
  border-radius: 10px;
  height: 100%;
}
@media (min-width: 1200px) {
  .areas__cell:hover h4 {
    color: var(--color-green);
  }
  .areas__cell:hover svg path {
    stroke: var(--color-green);
  }
  .areas__cell:hover .areas__cell-content {
    opacity: 1;
  }
}
@media (max-width: 1550px) {
  .areas__cell {
    grid-template-columns: 200px auto;
  }
}
@media (max-width: 1199px) {
  .areas__grid {
    gap: 50px 30px;
  }
  .areas__cell {
    gap: 30px;
    grid-template-columns: 170px auto;
  }
}
@media (max-width: 991px) {
  .areas__grid {
    gap: 30px;
  }
  .areas__cell {
    gap: 15px;
    grid-template-columns: 150px auto;
  }
}
@media (max-width: 767px) {
  .areas__grid {
    gap: 15px 30px;
  }
  .areas__cell {
    gap: 10px;
    grid-template-columns: 1fr;
  }
  .areas__cell h4 {
    margin-bottom: 5px;
  }
  .areas__cell-content svg {
    width: 30px;
  }
}
/* END AREAS */

/* PROJECT BAR */
.project-bar__image {
  position: relative;
  padding-bottom: 67.8%;
  overflow: hidden;
  border-radius: 10px;
}
.project-bar__image img {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

.project-bar h5,
.project-bar .text {
  transition: 0.3s;
}
.project-bar h5 {
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .project-bar__image:hover img {
    transform: scale(1.06);
  }
  .project-bar h5:hover,
  .project-bar .text:hover {
    color: var(--color-green);
  }
}
/* END PROJECT BAR */
/* MAIN PROJECTS */
.main-projects__title {
  padding-right: 4em;
  position: relative;
}
.main-projects__title .button {
  position: absolute;
  right: 0;
  top: 50%;
}
.main-projects__grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-projects__grid .project-bar__image {
  box-shadow: 0 0 0 10px #fff;
  border-radius: 10px;
}
.main-projects__grid > :nth-child(1) {
  margin-right: -40px;
  margin-top: 45px;
}
.main-projects__grid > :nth-child(2) {
  margin-left: -40px;
}
@media (max-width: 991px) {
  .project-bar h5 {
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .main-projects__title {
    padding-right: 0;
  }
  .main-projects__title .button {
    position: relative;
    top: unset;
    margin-top: 30px;
  }
  .main-projects__grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .main-projects__grid > :nth-child(1),
  .main-projects__grid > :nth-child(2) {
    margin: 0;
  }
}
/* END MAIN PROJECTS */
/* CTA */

.cta__content {
  padding-right: 45%;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  border-top: solid 1px var(--border-color);
  border-bottom: 1px solid var(--border-color);
  overflow: hidden;
}
.cta__buttons {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 50px;
}
.cta__content img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 50%;
}
@media (max-width: 1199px) {
  .cta__content {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .cta__buttons {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .cta__content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .cta__buttons {
    gap: 30px;
  }
}
@media (max-width: 991px) {
  .cta__content {
    padding: 50px 0;
  }
  .cta__content img {
    display: none;
  }
  .cta__buttons {
    gap: 30px;
  }
}
@media (max-width: 360px) {
  .cta__buttons {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
/* END CTA */

/* SOLUTION */
.solution__grid {
  display: grid;
  grid-template-columns: 6.5fr 5fr;
  grid-template-rows: min-content min-content 1fr;
  gap: 100px;
}
.solution__image-holder {
  position: relative;
  align-self: flex-start;
  padding-bottom: 100%;
  grid-area: 1 / 3 / 4 / 2;
}
.solution__image-holder.h100 {
  padding-bottom: 0;
  height: 100%;
}
.solution__image-holder img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.solution__bottom ul {
  columns: 2;
  column-gap: 50px;
}
.solution__bottom .text a {
  white-space: initial;
}
.solution__bottom ul li {
  font-weight: normal;
  color: var(--color-dark-grey);
}
.solution__bottom ul li::before {
  top: 50%;
}
.solution__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 100px;
  align-items: center;
}
.solution__info-item {
  display: grid;
  grid-template-columns: 85px auto;
  align-items: center;
  gap: 30px;
}
.solution__info-item img {
  width: 100%;
}
@media (max-width: 1550px) {
  .solution__grid {
    gap: 70px 30px;
  }
  .solution__info {
    gap: 50px;
  }
}
@media (max-width: 1199px) {
  .solution__grid {
    gap: 50px 30px;
  }
  .solution__bottom {
    align-self: flex-start;
  }
  .solution__bottom ul {
    column-gap: 30px;
  }
  .solution__info {
    gap: 30px;
  }
  .solution__info-item {
    grid-template-columns: 60px auto;
  }
}
@media (max-width: 991px) {
  .solution__info-item {
    grid-template-columns: 40px auto;
    gap: 15px;
  }
}
@media (max-width: 767px) {
  .solution__grid {
    grid-template-columns: 1fr;
    gap: 20px;
    grid-template-rows: unset;
  }
  .solution__image-holder {
    grid-area: unset;
  }
  .solution__bottom ul {
    column-gap: 10px;
  }
  .solution__image-holder.h100 {
    height: unset;
    padding-bottom: 100%;
  }
  .solution__info {
    gap: 15px 10px;
  }
}
/* END SOLUTION */
/* NEWS */
.news__swiper {
  position: relative;
}
.news__swiper .swiper-pagination .swiper-pagination-bullet {
  max-width: 10px;
}
.news__item {
  position: relative;
  display: grid;
  gap: 5px;
  height: 100%;
  grid-template-rows: min-content min-content;
  height: min-content;
}
.news__swiper .swiper-slide {
  display: flex;
  align-items: center;
  padding: 55px 0;
  border-top: solid 1px var(--border-color);
  border-bottom: solid 1px var(--border-color);
}
.news__swiper .swiper-slide:nth-child(n + 3) {
  border-top: none;
}
.news__item h5 {
  transition: 0.3s;
}
html:not(.touch-screen) .news__item:hover h5 {
  color: var(--color-green);
}
@media (min-width: 992px) {
  .news__swiper .swiper-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
  }
}
@media (min-width: 1200px) {
  .news__swiper .swiper-wrapper {
    grid-column-gap: 75px;
  }
}
@media (max-width: 991px) {
  .news__swiper .swiper-slide {
    border: none;
  }
  .news__btn-holder {
    text-align: center;
  }
  .news__swiper .swiper-slide {
    padding: 30px 0;
  }
  .news__swiper {
    border-top: solid 1px var(--border-color);
    border-bottom: solid 1px var(--border-color);
    margin-bottom: 70px;
  }
}
/* END NEWS */
/* TEAM */
.team__grid-wrap{
  position: relative;
  overflow: hidden;
  height: 400px;
}
.team__grid-wrap.shown{
  height: auto!important;
}
.team__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
  color: var(--color-white);
}
.team__grid h5 {
  color: var(--color-white);
}
.team__cell {
  display: grid;
  grid-template-rows: min-content auto;
  gap: 30px;
}
.team__image-holder {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.team__image-holder img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team__info {
  padding-left: 1em;
  position: relative;
}
.team__info .text {
  color: var(--color-grey2);
}
.team__info h5 {
  position: relative;
}
.team__info h5::before {
  content: "";
  position: absolute;
  left: -1em;
  top: 0.6em;
  height: 0.45em;
  width: 0.45em;
  border-radius: 50%;
  background: var(--color-green);
  transform: translateY(-50%);
}
@media (max-width: 1550px) {
  .team__grid {
    gap: 100px 50px;
  }
}
@media (max-width: 1199px) {
  .team__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
}
@media (max-width: 767px) {
  .team__cell {
    gap: 10px;
  }
  .team__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
/* END TEAM */
/* VALUES */
.values__swiper {
  position: relative;
}
.values__swiper .swiper-pagination .swiper-pagination-bullet {
  max-width: 10px;
}
.values__item {
  position: relative;
  height: 100%;
}
.values__item h5 {
  margin-bottom: 10px;
}
.values__image-holder {
  position: relative;
  padding-bottom: 67.3%;
  border-radius: 5px;
  overflow: hidden;
}
.values__image-holder img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.values__swiper .swiper-slide .values__item::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 0;
  height: 100%;
  width: 1px;
  background: var(--border-color);
}
@media (min-width: 992px) {
  .values__swiper .swiper-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
@media (min-width: 1200px) {
  .values__swiper .swiper-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 100px 50px;
  }
}
@media (min-width: 1551px) {
  .values__swiper .swiper-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
  }
  .values__swiper .swiper-slide .values__item::before {
    left: -50px;
  }
}
@media (max-width: 991px) {
  .values__swiper .swiper-slide:first-child .values__item::before {
    content: none;
  }
  .values__swiper {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .values__item h5 {
    margin-bottom: 5px;
  }
}
/* END VALUES */
/* LIFE */
.life__swiper .swiper-wrapper {
  align-items: center;
}
.life__swiper .swiper-container-initialized:not(.swiper-no-swiping),
.life__swiper
  .swiper-container-initialized:not(.swiper-no-swiping)
  .swiper-wrapper,
.life__swiper a {
  cursor: url(../img/gallery_cursor.svg) 62 42, ew-resize;
}
.life__swiper .swiper-slide {
  width: auto;
  display: flex;
}
.life__swiper .swiper-slide img {
  display: block;
}
.life__swiper .swiper-pagination {
  display: none;
}
.life__swiper .swiper-pagination .swiper-pagination-bullet {
  max-width: 10px;
}
@media (max-width: 991px) {
  .life__swiper .swiper-pagination {
    display: flex;
  }
  .life__swiper {
    margin-bottom: 40px;
  }
  .life__swiper .swiper-wrapper {
    align-items: flex-start;
  }
}
/* END LIFE */

/* PROJECTS */

.projects__filters {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  min-height: 52px;
  width: calc(100% + 15px);
  flex-wrap: wrap;
}
.projects__filter-btn {
  display: inline-block;
  padding: 4px 20px;
  font-size: 16px;
  line-height: 1.8;
  border-radius: 10px;
  background: #f1f1f1;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.projects__filter-btn.active {
  background: var(--color-green);
}
.projects__grid {
  position: relative;
  margin: -35px;
  width: calc(100% + 70px);
  min-height: 600px;
}
.projects__grid .project-bar {
  width: calc(50% - 70px);
  margin: 35px;
}
@media (min-width: 1200px) {
  .projects__filter-btn:hover {
    background: var(--color-green);
  }
}
@media (max-width: 1199px) {
  .projects__grid {
    position: relative;
    margin: -25px -15px;
    width: calc(100% + 30px);
    min-height: 600px;
  }
  .projects__grid .project-bar {
    width: calc(50% - 30px);
    margin: 25px 15px;
  }
}
@media (max-width: 767px) {
  .projects__grid {
    position: relative;
    margin: -15px 0;
    width: 100%;
    min-height: 600px;
  }
  .projects__grid .project-bar {
    width: 100%;
    margin: 15px 0;
  }
  .projects__filters {
    margin-bottom: -10px;
    margin-right: -10px;
    min-height: 34px;
  }
  .projects__filter-btn {
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
/* END PROJECTS */

/* SEO FOOTER */

.seo-footer {
  border-top: solid 2px var(--color-green);
  padding: 50px 0 0;
}
.seo-footer .text {
  margin-bottom: 20px;
}
.seo-footer-btn {
  display: inline-block;
  color: var(--color-green);
  position: relative;
  padding-right: 20px;
  font-weight: normal;
  transition: 0.3s;
  font-size: 16px;
  line-height: 1.32;
  cursor: pointer;
}
.seo-footer-btn::after {
  content: "";
  position: absolute;
  right: 0;
  width: 0.33em;
  height: 0.33em;
  border-bottom: solid 2px var(--color-green);
  border-right: solid 2px var(--color-green);
  top: 50%;
  transform: translateY(-75%) scale(1, 1) rotate(45deg);
  transition: 0.3s;
}
.seo-footer-btn.active::after {
  transform: translateY(0%) scale(1, -1) rotate(45deg);
}
.seo-footer__read-more .text {
  display: none;
}
@media (min-width: 1200px) {
  .seo-footer-btn:hover {
    color: var(--color-dark-grey);
  }
  .seo-footer-btn:hover::after {
    border-color: var(--color-dark-grey);
  }
}
@media (max-width: 991px) {
  .seo-footer .text {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .seo-footer {
    padding: 30px 0 0;
  }
}
/* END SEO FOOTER */

/* PROJECT GALLERY */
.project-gallery {
  margin: -15px;
}
.project-gallery > div {
  width: 33.333%;
  padding: 15px;
}
.project-gallery img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .project-gallery picture {
    overflow: hidden;
    position: relative;
    display: block;
    border-radius: 5px;
  }
  .project-gallery img:hover {
    transform: scale(1.05);
  }
}
@media (max-width: 991px) {
  .project-gallery {
    margin: -7px;
  }
  .project-gallery > div {
    padding: 7px;
  }
}
@media (max-width: 767px) {
  .project-gallery {
    margin: -5px;
  }
  .project-gallery > div {
    padding: 5px;
  }
}
/* END PROJECT GALLERY */

/* LEFT RIGHT */
.left-right__grid {
  display: grid;
  grid-template-columns: 5fr 6.5fr;
  gap: 100px;
  align-items: center;
}
.left-right__grid.reverse,
.left-right__section:nth-child(odd) .left-right__grid {
  grid-template-columns: 6.5fr 5fr;
}
.left-right__section:nth-child(odd) .simple-block {
  grid-column: 1;
  grid-row: 1;
}
.left-right__image-holder {
  align-self: flex-start;
  position: relative;
}
.left-right__image-holder img {
  position: relative;
  display: block;
  width: 100%;
}
@media (max-width: 1550px) {
  .left-right__grid {
    gap: 50px;
  }
}
@media (max-width: 767px) {
  .left-right__grid {
    gap: 30px;
    grid-template-columns: 1fr;
  }
  .left-right__section:nth-child(odd) .left-right__grid,
  .left-right__grid.reverse {
    grid-template-columns: 1fr;
  }
  .left-right__section:nth-child(odd) .simple-block {
    grid-column: unset;
    grid-row: unset;
  }
}
/* END LEFT RIGTH */
/* SERVICE SWIPER */
.service__swiper {
  margin-bottom: 75px;
}
@media (max-width: 991px) {
  .service__swiper {
    margin-bottom: 35px;
  }
  .service__swiper .left-right__grid,
  .left-right__grid.reverse {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .service__swiper .left-right__grid .left-right__image-holder {
    grid-row: 1;
  }
}

/* END SERVICE SWIPER */

/* PROJECT GUIDE */
.priject-guide__grid {
  display: grid;
  grid-template-columns: 5fr 7fr;
  align-items: center;
  gap: 70px;
}
.project-guide__left {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  gap: 70px;
  padding-left: 130px;
}
.project-guide__icon {
  position: relative;
  z-index: 1;
  font-size: 55px;
}
.project-guide__icon::before {
  content: "";
  position: absolute;
  left: -130px;
  top: 50%;
  transform: translateY(-50%);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: var(--color-green);
  z-index: -1;
}
.project-guide__left > div:last-child {
  height: 4px;
  background-image: linear-gradient(
    to right,
    var(--color-green) 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 20px 100%;
  background-repeat: repeat-x;
}
.project-guide__steps {
  counter-reset: item;
  display: grid;
  gap: 15px;
}
.project-guide__step {
  display: grid;
  grid-template-columns: 100px auto;
  gap: 70px;
  border-top: solid 1px var(--border-color);
}
.project-guide__step-number {
  padding: 20px 0;
  font-size: clamp(15px, 1.5vw, 22px);
  color: var(--color-green);
  text-align: center;
  border-top: solid 1px var(--color-green);
  margin-top: -1px;
}
.project-guide__step-content {
  padding: 20px 0;
}
.project-guide__step-content p {
  color: var(--color-grey);
  font-weight: 300;
  font-size: clamp(15px, 1.3vw, 18px);
}
.project-guide__step-content p:first-child {
  font-weight: normal;
  color: var(--color-dark-grey);
  font-size: clamp(15px, 1.5vw, 22px);
}
.project-guide__step-number::before {
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
}
@media (max-width: 1550px) {
  .project-guide__left {
    padding-left: 100px;
  }
  .project-guide__icon {
    font-size: 45px;
  }
  .project-guide__icon::before {
    left: -100px;
    height: 240px;
    width: 240px;
  }
}
@media (max-width: 1199px) {
  .priject-guide__grid,
  .project-guide__left {
    gap: 50px;
  }
  .project-guide__step {
    grid-template-columns: 70px auto;
    gap: 30px;
  }
  .project-guide__step-content,
  .project-guide__step-number {
    padding: 10px 0;
  }
  .project-guide__left {
    padding-left: 70px;
  }
  .project-guide__icon {
    font-size: 40px;
  }
  .project-guide__icon::before {
    left: -70px;
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 991px) {
  .priject-guide__grid {
    grid-template-columns: 1fr;
  }
  .project-guide__left {
    display: none;
  }
}
@media (max-width: 767px) {
  .project-guide__steps {
    gap: 5px;
  }
  .project-guide__step {
    grid-template-columns: 50px auto;
    gap: 20px;
  }
  .project-guide__step-content,
  .project-guide__step-number {
    padding: 5px 0;
  }
}
/* END PROJECT GUIDE */

/* RELATED PROJECTS */
.related-projects__grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
}
.related-projects__grid .project-bar {
  display: grid;
  grid-template-rows: auto min-content min-content;
  height: 100%;
}
@media (max-width: 1199px) {
  .related-projects__grid {
    gap: 50px 30px;
  }
}
@media (max-width: 767px) {
  .related-projects__grid {
    gap: 30px;
    grid-template-columns: 1fr;
  }
}

/* SOLUTIONS */
.solutions__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.solutions__item {
  display: grid;
  grid-template-columns: 320px auto 25px;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}
.solutions__item svg {
  width: 100%;
  opacity: 0.15;
  transition: 0.3s;
}
.solutions__item svg path,
.solutions__item h5 {
  transition: 0.3s;
}
.solutions__item-image {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 52%;
}
.solutions__item-image img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 1200px) {
  .solutions__item:hover h5 {
    color: var(--color-green);
  }
  .solutions__item:hover svg {
    opacity: 1;
  }
  .solutions__item:hover svg path {
    stroke: var(--color-green);
  }
}
@media (max-width: 1550px) {
  .solutions__item {
    grid-template-columns: 250px auto 25px;
  }
}
@media (max-width: 1199px) {
  .solutions__grid {
    gap: 50px 30px;
  }
  .solutions__item {
    grid-template-columns: 220px auto 20px;
    gap: 20px;
  }
}
@media (max-width: 991px) {
  .solutions__grid {
    gap: 30px;
  }
  .solutions__item {
    grid-template-columns: auto 20px;
    grid-template-rows: min-content 1fr;
    gap: 15px;
  }
  .solutions__item-image {
    grid-column: -1 / 1;
  }
}
@media (max-width: 767px) {
  .solutions__item {
    gap: 5px;
  }
  .solutions__grid {
    gap: 20px;
  }
}
/* END SOLUTIONS */

/* CONTACT */
.contact__grid {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 150px;
}
.contact__left {
  display: grid;
  gap: 30px;
}
.contact-delimiter {
  display: block;
  height: 2px;
  background: var(--color-green);
}
.contact__link {
  padding-left: 35px;
  font-size: 18px;
  position: relative;
}
.contact__link img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
}
.contact__info {
  display: grid;
  gap: 20px;
}
.contact__left .footer__social-icon {
  background: var(--color-light-grey);
}

@media (max-width: 991px) {
  .contact__left,
  .contact__grid {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .contact__grid {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .contact__link {
    font-size: 14px;
  }
}
/* END CONTACT */

/* 404 */
.not-found__section {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: calc(100vh - 110px);
  justify-content: center;
  text-align: center;
  padding-bottom: 60px;
  margin-bottom: 100px;
}
@media (min-height: 800px) {
  .not-found__section {
    margin-bottom: 0;
  }
}
.not-found__section h4 {
  margin-top: 50px;
}
.not-found__section .text {
  margin: 20px 0 40px;
}
.not-found__images {
  position: relative;
  height: 150px;
}
.not-found__code {
  font-size: clamp(150px, 15vw, 270px);
  text-align: center;
  line-height: 0.8;
  font-weight: bold;
  margin-bottom: 20px;
}
.not-found-image-left {
  position: absolute;
  right: calc(50% + 200px);
  top: 50%;
  width: 100vw;
  height: 15px;
  background: var(--color-dark-grey);
  animation: wire_anim1 2.5s 0.5s both ease-in-out;
}
.not-found-image-left img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(90%, -50%);
  height: 115px;
  max-height: unset;
}
.not-found-image-right {
  position: absolute;
  left: calc(50% + 200px);
  top: 50%;
  width: 100vw;
  height: 15px;
  background: var(--color-dark-grey);
  animation: wire_anim2 2.5s 0.5s both ease-in-out;
}
.not-found-image-right img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-90%, -50%);
  height: 115px;
  max-height: unset;
}
@keyframes wire_anim1 {
  0% {
    transform: translateX(-70%);
  }
  50% {
    height: 15px;
  }
  60% {
    transform: translateX(50px);
    height: 8px;
  }
  75% {
    transform: translateX(20px);
    height: 13px;
  }
  85% {
    transform: translateX(50px);
    height: 8px;
  }
  100% {
    transform: translateX(0);
    height: 15px;
  }
}
@keyframes wire_anim2 {
  0% {
    transform: translateX(70%);
  }
  50% {
    height: 15px;
  }
  60% {
    transform: translateX(-50px);
    height: 8px;
  }
  75% {
    transform: translateX(-20px);
    height: 13px;
  }
  85% {
    transform: translateX(-50px);
    height: 8px;
  }
  100% {
    transform: translateX(0);
    height: 15px;
  }
}
@media (max-width: 767px) {
  .not-found__section {
    margin-bottom: 0;
    min-height: calc(100vh - 70px);
  }
  .not-found__section .text {
    margin: 15px 0 30px;
  }
  .not-found-image-left img,
  .not-found-image-right img {
    height: 60px;
  }
  .not-found__images {
    height: 100px;
  }
  .not-found-image-left {
    right: calc(50% + 100px);
  }
  .not-found-image-right {
    left: calc(50% + 100px);
  }
  @keyframes wire_anim1 {
    0% {
      transform: translateX(-70%);
    }
    50% {
      height: 10px;
    }
    60% {
      transform: translateX(30px);
      height: 6px;
    }
    75% {
      transform: translateX(10px);
      height: 8px;
    }
    85% {
      transform: translateX(30px);
      height: 5px;
    }
    100% {
      transform: translateX(0);
      height: 10px;
    }
  }
  @keyframes wire_anim2 {
    0% {
      transform: translateX(70%);
    }
    50% {
      height: 10px;
    }
    60% {
      transform: translateX(-30px);
      height: 6px;
    }
    75% {
      transform: translateX(-10px);
      height: 8px;
    }
    85% {
      transform: translateX(-30px);
      height: 5px;
    }
    100% {
      transform: translateX(0);
      height: 10px;
    }
  }
}

/* END 404 */
