/*------------------------------------------------------------------------------------------------------------------------------------------------- */
/* GLOBAL SETTINGS */
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
@media(max-width:991px){
    .sec-top-100{margin-top:50px;}
    .row-16{margin-left:-15px;margin-right:-15px;}
    .row-16 div[class^="col"]{padding-left:15px;padding-right:15px;}
}
@media(max-width:767px){
    .sec-top-100,.sec-top-60{margin-top:40px;}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
/* FORM  ELEMENTS*/
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
@media(max-width:767px){
	textarea.input{padding:15px;}
  .input{height:48px;line-height:46px;padding:0 15px;}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
/* OTHERS */
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
@media(max-width:767px){
    .content-block >*{margin-bottom:15px;}
    .seo-text-block .more-text .btn{margin-top:10px;}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
/* LEFT RIGHT BLOCK */
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
@media(max-width: 991px){
    .left-right-content{margin-top: 25px;}
}
@media(max-width: 767px){
    .left-right-content {margin-top: 15px;}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
/* MAP */
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 767px){
    .map-block{min-height:300px;}
    .info-box-img{display:none;}
    .info-box-text {padding: 10px 20px 10px 10px; }
    .info-box-text .title {font-size: 13px;}
    .info-box-text .contact-img{width: 16px;height: 16px;margin-right: 5px;}
    .info-box-text .contact-info {font-size:12px;}
    .info-box-text .contact-info > *{line-height:1.5;}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
/* BREADCRUMBS */
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
@media(max-width: 991px){
    .breadcrumbs{display: none;}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
/* SIMPLE PAGE */
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
@media(max-width: 767px){
    .simple-page > *{margin-bottom:15px;}
    .simple-page table th,.simple-page table td {padding:5px 10px;height:40px;}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
/* SWIPER */
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
@media(max-width: 767px){
    .swiper-container{overflow:visible;}
    .swiper-pagination.swiper-pagination-relative{margin-top:15px;}
    .swiper-pagination-bullet{width:30px;height:2px;}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ACCORDION */
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
@media(max-width:767px){
    .accordion-item{margin-bottom:15px;}
    .accordion-title{font-size:20px;padding: 15px 40px 15px 15px;}
    .accordion-title:before{right:15px;top:27px;}
    .accordion-title.active:before{top:31px;}
    .accordion-inner{padding: 0 15px 20px 15px;}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
/* TABS */
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 767px) {
    .tab-title{display: block;}
    .tab-nav{margin-bottom:30px;}
    .tab-toggle{display: none;position: absolute;left: 0;top: 100%;width:100%;background: #fff;z-index: 5;box-shadow: 0 6px 8px 0px rgb(0 0 0 / 5%);}
    .tab-nav.active .tab-toggle{display: block;}
    .tab-nav .tab-toggle div{display:block;margin:0;}
    .tab-nav .tab-toggle div .tab-caption{display:block;border:none;border-radius:0;padding: 15px;text-align: left;}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
/* PAGINATION */
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
@media(max-width: 991px){
    .custom-pagination{margin-top:40px;}
    .custom-pagination .pagination-arrow{width:60px;height:60px;}
    .breadcrumbs{display: none;}
}
@media(max-width: 767px){
    .custom-pagination{margin-top:30px;}
    .custom-pagination .pagination-arrow{display:none;}
    .custom-pagination ul li{margin-right:10px;}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
/* POPUPS */
/*------------------------------------------------------------------------------------------------------------------------------------------------- */
@media(max-width:767px){
    .popup-align{padding:35px 15px 20px}
    .btn-close{width: 40px;height: 40px}
}